@{
    ViewBag.Title = "O nama";
}
<h2>Ko smo mi? - krovnadglavom.rs</h2>
<h3></h3>
<img src="~/Slike/turn-on-turn-off-question-mark-note.jpg" width="500" height="300"/>
<br><br>
<p>
    Portal krovnadglavom.rs je specijalizovan portal za iznajmljivanje stanova u gradovima širom Srbije. 
</p>
<p>
    Pružamo osnovne informacije o stanovima koji se iznajmljuju. Težimo da uspostavimo laku i sigurnu komunikaciju između 
    vlasnika stanova i <br>potencijalnih podstanara. Želimo da u toj komunikaciji obe strane budu zadovoljne i da po tome 
    budemo prepoznatljivi na tržištu.
</p>
<p>
    Tim čine posvećeni ljudi koji žele da Vam iznajmljivanje stana olakšaju na sve moguće načine.
</p>
<p>    
    Sarađujemo sa svim vodećim agencijama i investitorima iz cele Srbije.
</p>