@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title - krovnadglavom.rs</h2>

<address>
    Bulevar Mihajla Pupina 4<br />
    Usce Tower II, 18. sprat<br />
    11070 Beograd<br />
    <abbr>Telefon:</abbr>
    065/724-6548
</address>

<p>
    Radno vreme: <br>Ponedeljak - Petak 08:00 - 16:00<br>
    Vikendom ne radimo.
</p>

<address>
    <strong>Podrška:</strong>   <a href="mailto:info@krovnadglavom.rs">info@krovnadglavom.rs</a><br />
</address>

<p>Kako biste nas lakše pronašli, iskoristite mapu ispod.</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2230.2523870979917!2d20.43644038170491!3d44.81537617693972!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc83baec7a9cc6062!2z0JrRg9C70LAg0KPRiNGb0LUgMg!5e0!3m2!1ssr!2srs!4v1641131097804!5m2!1ssr!2srs" width="1150" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>