@{
    ViewBag.Title = "Početna strana";
}


<h1>Dobro došli - krovnadglavom.rs</h1>
<img src="~/Slike/slikaapartman.jpg" width="1150" height="500" />
<p class="lead">Specijalizovana agencija za iznajmljivanje stanova. Brzo i povoljno u samo par klikova.</p>
<p><a class="btn btn-primary" href="https://localhost:44357/Grad">Gradovi u kojima poslujemo</a></p>


<div class="row">
    <div class="col-md-4">
        <h2>Pretražite</h2>
        <img src="~/Slike/How-do-small-building-renters-find-apartments.jpg" width="350" height="200"/>
        <p>
            Vrlo pregledan i jasan, portal krovnadglavom.rs Vas na intuitivan način vodi kroz široku ponudu stanova.
            Dovoljno je samo nekoliko klikova i Vaš krov nad glavom je tu.
        </p>
        <p><a class="btn btn-primary" href="https://localhost:44357/VrstaStana">Vrste stanova</a></p>
    </div>
    <div class="col-md-4">
        <h2>Izaberete</h2>
        <img src="~/Slike/istockphoto-1282624945-612x612.jpg" width="350" height="200"/>
        <p>Nakon registracije, na osnovu filtera za detaljnu pretragu, pronađite savršeno mesto za život.</p>
        <p><a class="btn btn-primary" href="https://localhost:44357/Account/Register">Registrujte se</a></p>
    </div>
    <div class="col-md-4">
        <h2>I ključevi stana su tu!</h2>
        <img src="~/Slike/real-estate-concept-house-hand-39722556.jpg" width="350" height="200"/>
        <p>
            Nakon što izaberete stan, kontaktiraće Vas jedan od naših agenata i u roku od samo nekoliko dana imaćete ključeve
            stana i možete odmah da se uselite.
        </p>
        <p><a class="btn btn-primary" href="https://localhost:44357/Stan">Pogledajte ponudu stanova</a></p>
    </div>
</div>